@import '~antd/dist/antd.css';

:root {
  --bgcolor: hsl(238, 36%, 27%);
  /* --bgcolor: linear-gradient(#2c2e5e to #131444); */
  --bgsecondarycolor: #f5f8fa;
  --bodyfontcolor: white;
  --primarytextcolor: black;
  --primarybordercolor: rgba(0, 0, 0, 0.164);
  --primaryshadowcolor: #0a06069a;
  --lastbordercolor: black;
  /* 
  --bgcolor: white;
  --bgsecondarycolor: #f5f8fa;
  --bodyfontcolor: black;
  --bodyfontcolor: #24292e;
  --primarytextcolor: black;
  --primarybordercolor: rgba(0, 0, 0, 0.164);
  --lastbordercolor: #e8e8e8;
  --primaryshadowcolor: #f3f1f1; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  padding: 10px;
  white-space: pre-wrap;
  background-color: #333333;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /* background: ; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  line-height: 1.5;
  color: var(--bodyfontcolor);
  background-color: black;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/gt-walsheim-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/gt-walsheim-medium-web.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/gt-walsheim-bold-web.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url('./assets/fonts/gt-walsheim-light-web.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

:root {
  /* Colors */
  --original-black: #000000;
  --original-white: #ffffff;
  --troperial-banner-blue: #e1f6ff;
  --troperial-banner-border: #99cef9;

  --chat-feed: #fafafa;
  --from-contact: #e9e9e9;
  --from-me: #0a92ef;

  --dark-grey: #737a91;
  --light-grey: #e8e8e8;
  --mobile-verfied: #bdf6dc;
  --troperial-green: #00d569;
  --troperial-blue: #0383ef;
  --troperial-dim-blue: #f3f8ff;
  --warning-yellow: #f2c94c;
  --danger-red: #f8e8e9;
  --danger-red-icon: #e53e3e;
  --error-color: #ff9ca1;
  --success-green: #38a169;
  /* Font */
  --general-font: 'GT Walsheim';
  --normal-font-weight: medium;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--general-font);
  font-weight: var(--normal-font-weight);
  max-width: 100vw;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

.ql-editor iframe {
  min-height: 300px;
}

.ql-editor img {
  max-height: 300px;
  object-fit: contain;
}

.postPage iframe {
  min-height: 400px;
}

.menu__mobile-button {
  z-index: 9;
  position: absolute;
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

/* Landing  */
.app {
  box-shadow: 0 0 30px var(--primaryshadowcolor);
  height: 100vh;
}

.component_header {
  color: var(--bodyfontcolor);
  position: sticky;
  padding: 10px 60px;
  font-size: 1.5rem;
  font-weight: 1000;
  border: 1px solid var(--primarybordercolor);
  /* var( --primarybordercolor) ; */
}
.component_content {
  color: var(--bodyfontcolor);
  background-color: var(--bgcolor);
  height: 90vh;
  overflow: auto;
}
.showimg * {
  display: none;
}
.actions {
  margin: 20px 1vw 0 15%;
  max-width: 70%;
  display: flex;
  flex-wrap: row nowrap;
  justify-content: space-between;
  color: var(--bodyfontcolor);
  font-size: 17px;
}
.showimg img:nth-of-type(1) {
  display: block;
  max-height: '30vh';
  max-width: '80%';
  border-radius: 20px;
}
.showtitle * {
  display: none;
}
.showtitle h1:nth-of-type(1) {
  display: block;
  color: var(--bodyfontcolor);
  font-size: 1.1rem !important;
}
.cards:hover {
  background-color: rgba(65, 105, 225, 0.055);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}
::-webkit-scrollbar:hover {
  display: block;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f1a1a;
  display: block;
}

@media (max-width: 767px) {
  .component_content {
    color: black;
    height: 85vh;
    overflow: auto;
  }
}

@media (min-width: 500px) {
  .form-extra {
    display: flex;
    flex-flow: row;
    justify-content: center;
    /* align-items: center; */
    /* padding-top: 30vh; */
    background-color: red;
  }
  .signup-form h2 {
    text-align: center;
  }
  .signup-form {
    max-width: 600px;
    margin-top: 30px;
  }
}
/* NavCSS */

.menu__logo a {
  font-size: 10px;
  margin-left: -5vw;
}
.ant-drawer-body {
  padding: 0 !important;
}
.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

/* .menu__mobile-button {
  float: right !important;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
/* background: #3e91f7; */
/* } */
*/ .menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}
.footer {
  display: none;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }
  .hideinfull {
    display: none;
  }
  .footer {
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: var(--bgcolor);
    border-top: 2px solid var(--primarybordercolor);
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    /* flex-basis: 30%; */
  }
  .footer .icons {
    color: var(--bodyfontcolor);
    font-weight: bold;
    font-size: 1.3rem;
  }
  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
  .content-of-drawer {
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }
}

/* TESTNAV  */
.menu {
  padding-top: 1vh;
  border-right: solid 1px var(--primarybordercolor);
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100vh;
  max-height: 100vh;
  padding-bottom: 20vh;
  justify-items: center;
  align-items: center;
  /* width: 100%; */
  box-shadow: 0 0 30px var(--primaryshadowcolor);

  background: var(--bgcolor);
}
.image {
  height: 8vh;
  margin: 0 0 0 -23px;
  width: 15vh;
  border-radius: 50%;
}
.image:hover {
  background-color: #2ba6f32d;
  color: #2ba7f3;
}
a {
  color: black;
}
.link {
  padding: 10px 20px;
  font-size: 1.5rem;
  color: var(--bodyfontcolor);
}
.link:hover {
  background-color: #2ba6f32d;
  color: #2ba7f3;
  border-radius: 30px;
}
.icon {
  margin-right: 30px;
}
.col {
  background-color: var(--bgcolor);
  border: 1px var(--secondary-border-color);
  height: 100vh;
}

.menu__content {
  /* font-size: 1.5rem; */
  text-align: left;
  color: var(--bodyfontcolor) !important;
  font-weight: bolder;
  display: inline-block;
  font-size: 20px;
}
.menu_items {
  height: 70vh;
  margin: 10px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.create_btn {
  padding: 15px 80px !important;
  display: flex;
  background-color: #1890ff;
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 30px;
  border: none;
  outline: none;
  position: relative;
  top: 0;
  margin-left: 3vw !important;

  /* margin-top: -10px !important; */
  margin-top: 20px !important
  ;
}

/* SEARCH  */
* {
  outline: none;
}
.header {
  height: 5vh;
  padding: 0px 0px 0px 20px;
}
.search_input {
  font: 400 13.3333px Arial;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  font-size: 15px;
  background-color: #e6ecf0;
  margin: auto;
  width: 80%;
}
.search_input:focus {
  background-color: white;
  border: 1px solid rgb(29, 161, 242);
}
.search_content {
  font-size: 1.2rem !important;
  color: var(--primarytextcolor);
  background-color: var(--bgsecondarycolor) !important;
}
.modal {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  color: var(--primarytextcolor) !important;
  font-weight: 300;
  display: flex;
  flex-flow: column;
  max-height: 60vh;
  width: 80%;
  overflow: auto;
  background-color: var(--bgsecondarycolor) !important;
  /* box-shadow: 0 0 30px #f3f1f1; */
}
.user_details {
  margin: 0px 10px;
}
.user {
  height: 10vh;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.048);
  border-left: 0px;
  border-right: 0px;
  display: flex;
  background-color: var(--bgsecondarycolor);
  flex-flow: row nowrap;
  padding: 10px;
}
.name {
  font-size: 0.3em;
  display: flex;
  flex-flow: row nowrap;

  text-transform: capitalize;
}
.username {
  font-weight: normal;
  font-style: italic;
  color: var(--bodyfontcolor);
}
.username::before {
  content: '@';
}
/* WTF / */
* {
  padding: 0;
  margin: 0em;
  box-sizing: border-box;
}
body,
.container,
.search_content,
.search_content_body,
.content_body {
  display: flex;
  flex-flow: column nowrap;
}
.header,
.content_body {
  margin-left: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.048);
}

.search_content {
  height: 55%;
  width: 80%;
  background-color: var(--bgsecondarycolor);
  border-radius: 20px;
  padding: 10px;
}
.header {
  height: 12%;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
}
.search_content_body {
  height: 85%;
  width: 100%;
  overflow: auto;
}
.content_body {
  flex-flow: row nowrap;
  height: 10vh;
  padding: 10px;
  justify-content: space-around;
}

.content_body > img {
  height: 7.5vh;
  width: 7.5vh;
  margin: 0 -10px;
  border-radius: 50%;
}
.userq {
  background: transparent;
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
  max-width: 100%;
  padding: 0 2px;
  margin-left: 10px;
  flex-wrap: column nowrap !important;
}
.full_namee {
  font-size: 1rem;
  font-weight: bold;
}
.follow_btn > button {
  outline: none;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: transparent;
  color: #1da1f2;
  font-size: 17px;
  font-weight: bolder;
  border: 1px solid #1da1f2;
  align-self: center;
  margin-top: 3px;
}

/* Profile  */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
.body {
  height: 100vh;
  max-height: 100vh;
}
.background_image {
  height: 20vh;
  background: honeydew;
}
.profile_picture {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  border: 3px solid var(--bgcolor);
  position: relative;
  top: 10vh;
  left: 10px;
  outline: none;
}
.detail_section {
  height: 35vh !important;
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.1rem;
}
.button_section {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.edit_profile {
  margin-right: 20px;
  background-color: var(--bgcolor);
  padding: 10px 20px;
  padding-bottom: 12px;
  border-radius: 20px;
  height: 40px;
  font-weight: bolder;
  margin-top: 10px;
  color: #7fcaf8;
  border: 1px solid #7fcaf8;
}
.edit_profile:hover {
  background-color: rgba(173, 216, 230, 0.523);
}
.more_content {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
}
.more_content > div {
  height: 50px;
  margin: 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 20px;
}
.more_content .name {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--bodyfontcolor);
}

.user_name,
.user_info,
.following_info {
  color: var(--primarytextcolor);
  font-size: 1.18rem;
}
.username::before {
  content: '@';
}
.description {
  padding-right: 20px;
  /* overflow: auto; */
  /* overflow: hidden; */
  color: var(--bodyfontcolor);
  height: auto;
  margin-bottom: 10vh;
}
/* .user_info { */
/* } */
.userinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  color: var(--primarytextcolor);
}
.following_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
input[type='file'] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  border: 1px solid var(--secondary-border-color);
  background: rgba(0, 0, 0, 0.774);
  opacity: 0;
  border-radius: 0px 0px 0px 0px;
  padding: 10px 0;
  width: inherit;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
.custom-file-upload:hover {
  opacity: 0.8;
}
.tabpane {
  font-size: 1.4rem;
  /* color: var(--bodyfontcolor ); */
  margin: '10px 50px';
  font-weight: bolder;
}
.errorimg {
  height: 300px;
  width: 450px;
}

.errorpg {
  padding: 10vw;
}
@media (max-width: 800px) {
  .errorpg {
    padding-top: 30vh;
  }
  .tabpane {
    font-size: 1.1rem;
    margin: '10px 50px';
  }
  .illustration {
    display: none;
  }
  .body {
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
  }
  .user_name {
    margin-top: 3vh !important;
    margin-bottom: 20px;
  }

  .background_image {
    height: 13vh;
    background: honeydew;
  }
  .more_content {
    max-height: 50vh;
  }
  .user_info > div > div {
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
  }
  .custom-file-upload {
    opacity: 0.4;
    padding: 3px 0;
  }
  .userinfo {
    margin-top: 10px;
    margin-left: -10px;
    justify-content: space-around;
    width: 100%;
  }
  .errorimg {
    height: 150px;
    width: 200px;
  }

  .description {
    /* margin-top: -5vh !important; */
    max-height: 10vh !important;
  }
  .profile_picture {
    width: 15vh;
    height: 15vh;
    top: 5vh;
    left: 10px;
  }
  .detail_section {
    height: 50vh !important;
  }
}
.card {
  color: var(--bodyfontcolor) !important;
  background: var(--bgcolor);
  border-color: var(--primarybordercolor);
}
.cards {
  border-color: var(--primarybordercolor) !important;
  color: var(--bodyfontcolor);
}
.card .card_name {
  font-size: 1.4rem;
  color: var(--bodyfontcolor);
}

.card .card_username {
  font-size: 1.2rem;
  font-style: italic;
  color: var(--bgsecondarycolor);
}
.card .avatar {
  height: 60px;
  width: 60px;
}
.card .title {
  font-size: 1.1rem;
  color: var(--bodyfontcolor);
  max-width: 90%;
  max-height: 300px;
  overflow: auto;
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: 20px;
  /* background: red !important; */
}
.card .card_inner {
  max-height: 43vh;
  max-width: 80%;
  margin-left: 60px;
  margin-right: 6%;
  overflow-y: hidden;
  margin-top: 10;
  border-radius: 20px;
  padding: 0px;
}
@media (max-width: 720px) {
  .card .avatar {
    height: 50px;
    width: 50px;
  }
  .card .card_name {
    font-size: 1.1rem;
    color: var(--bodyfontcolor);
  }
  .card .card_username {
    font-size: 1rem;
    font-style: italic;
    color: var(--bgsecondarycolor);
  }
  .card .title {
    font-size: 0.9rem;
    color: var(--bodyfontcolor);
  }
  .card .card_inner {
    max-height: 43vh;
    max-width: 90%;
    margin-left: 50px;
    margin-right: 0px;
    overflow-y: hidden;
    margin-top: 15px;
    border-radius: 20px;
    padding: 0px;
  }
}

.welcome_container,
nav,
main {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--bgcolor);
  color: var(--bodyfontcolor);
}
.welcome_container {
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 10;
}
nav {
  flex-flow: row;
  justify-content: space-between;
  padding: 15px 50px;
}
button {
  padding: 10px 20px;
  margin: 3px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  color: white;
  background-color: #34b5f5;
}
main {
  display: flex;
  max-width: 100vw;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  align-items: center;
  height: 90vh;
}
.welcome {
  margin: 20px 0 0 30px;
  transition: 2s;
  margin-left: 14vw;
  font-size: 16px;
  /* display: flex; */
  /* flex-flow: column; */
}
.welcome div {
  margin: 20px;
}
.welcome_header {
  font-size: 2.5rem;
  color: var(--bodyfontcolor);
  font-weight: bolder;
}

@media (max-width: 800px) {
  .welcome {
    margin: 15px 0 0 15px;
    transition: 2s;
    margin-left: 14vw;
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .welcome {
    margin: 15px 0 0 15px;
    transition: 2s;
    margin-left: 14vw;
    font-size: 16px;
  }
  .welcome_register {
    display: none;
  }
  nav {
    padding: 15px 4px;
  }
  button {
    padding: 7px 10px;
    margin: 3px 10px;
  }
  /* .welcome_container {
    background-image: url('./components//views/Theme/il.png');
  } */
}
.x div {
  margin: 0.4px;
}
.x input {
  width: 350px;
  height: 45px;
  /* padding: 15px 0px; */
}

@media (min-width: 800px) {
  .x input {
    width: 400px;
    height: 45px;
    /* padding: 15px 0px; */
  }

  .x button {
    padding: 20px 50px !important;
    margin-top: 40px !important;
  }
}
.post_content * {
  color: var(--bodyfontcolor);
}
