.menu {
  padding-top: 1vh;
  border-right: solid 1px #e8e8e8;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100vh;
  max-height: 100vh;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 30px #f3f1f1;
  color: black !important;
}
a {
  color: black;
}

.menu__content {
  /* font-size: 1.5rem; */
  text-align: left;
  color: black !important;
  font-weight: bolder;
  display: inline-block;
  font-size: 20px;
}
.menu_items {
  height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.create_btn {
  padding: 25px 90px 25px 90px !important;
  display: flex;
  background-color: #1890ff;
  color: white;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-wrap: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-top: 20px;
}
