* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body {
  height: 100vh;
  max-height: 100vh;
}
.background_image {
  height: 20vh;
  background: honeydew;
}
.profile_picture {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  top: 10vh;
  left: 10px;
  outline: none;
}
.detail_section {
  height: 40vh;
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.1rem;
}
.button_section {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.edit_profile {
  margin-right: 20px;
  background-color: white;
  padding: 10px 20px;
  padding-bottom: 12px;
  border-radius: 20px;
  height: 40px;
  font-weight: bolder;
  margin-top: 10px;
  color: #7fcaf8;
  border: 1px solid #7fcaf8;
}
.edit_profile:hover {
  background-color: rgba(173, 216, 230, 0.523);
}
.more_content {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
}
.more_content > div {
  height: 50px;
  margin: 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 20px;
}
.name {
  font-size: 1.5rem;
  font-weight: bolder;
}

.user_name,
.user_info,
.following_info {
  color: gray;
  font-size: 1.18rem;
}
.username::before {
  content: '@';
}
.description {
  padding-right: 20px;
  /* overflow: auto; */
  /* overflow: hidden; */
  height: auto;
  margin-bottom: 10vh;
}
/* .user_info { */
/* } */
.userinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  color: gray;
}
.detail_section {
  height: 50vh;
  /* overflow: auto; */
}
.following_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .body {
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
  }
  .user_name {
    margin-top: -3vh !important;
    margin-bottom: 20px;
  }
  .background_image {
    height: 13vh;
    background: honeydew;
  }
  .more_content {
    height: 50vh;
  }
  .user_info > div > div {
    display: flex;
    flex-flow: row nowrap;
    font-size: 16px;
  }
  .userinfo {
    margin-top: 10px;
    margin-left: -10px;
    justify-content: space-around;
    width: 100%;
  }

  .description {
    /* margin-top: -5vh !important; */
    height: 10vh !important;
  }
  .profile_picture {
    width: 15vh;
    height: 15vh;
    top: 5vh;
    left: 10px;
  }
}
